<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= link_to movie.title, "/movies/#{movie.id}" %></td>
      <td><%= movie.year %></td>
    </tr>
  <% end %>
  </tbody>
</table>
